body {
  margin: 0 auto;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}
.site-navigation a {
  text-decoration: none;
  color: #000000;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
/*.site-navigation li {
display: inline;
}*/
.promo{
 text-align: center;
 background-image: url(../img/background_photo.jpg);
 width: 1200px;
 height: 800px;
 background-repeat: no-repeat;
}

.reasons_div{
  text-align: center;
}
.reasons_title h2 {
  font-size: 30px;
  line-height: 42px;
}
.reasons_title{
color: #000000;
font-size: 21px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
color: #333333;
}
.reasons_discription{
color: #333333;
font-size: 14px;
font-weight: 400;
line-height: 26px;
}
.features-list {
  list-style: none;
}
.cause_title{
color: #000000; /* Цвет на время. в макете #ffffff; у №1 и №2 */
font-size: 21px;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
}
.cause_number{
color: #000000; /*цвет на время. в макете #ffffff; у №1 и №2 */
font-size: 14px;
font-weight: 400;
font-weight: 400;
text-transform: uppercase;
}
.cause_text{
color: #000000;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}
 
.cause_icon_home{
  background-image: url(../img/icon-1.svg);
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
}
.cause_icon_food{
  background-image: url(../img/icon-2.svg);
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
}
.cause_icon_souvenirs{
  background-image: url(../img/icon-3.svg);
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
}



.search,
.search_button{
 text-align: center;  
}
.search_button{
color: #ffffff;
text-align: center;
font-size: 21px;
font-weight: 700;
line-height: 26px;
width: 568px;
height: 86px;
background-color: #766357;

}
.search-submit{
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}
.search-submit a:hover,
.search-submit a:focus; {
  background-color: #669ec0;
}
.search-submit a:active;{
  background-color: #5496bd;
}
.hotel_checked{
  list-style: none;
}
.headline_legend{
color: #ffffff;
font-size: 16px;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
}

.hotel_label{
color: #ffffff;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}

.hotel_assortment li{
list-style: none;
color: #000000;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;
}

.hotels_list a{
 text-decoration: none;
}
.hotels_list li{
  list-style: none;
}
.hotel_title{
height: 16px;
color: #000000;
font-size: 21px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
}
.hotel_price{
height: 11px;
color: #333333;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}
.hotel_rating{
color: #666666;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}
.hotel_buttons{
color: #000000;
font-size: 14px;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
width: 142px;
height: 27px;
background-color: #766357;
}

/* подвал */
.hashtag{
color: #000000;
font-size: 21px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
}
.hashtag a{
text-decoration: none;
}
.footer-social a{
 text-decoration: none;
}
.social_networks{
list-style: none;
}
.developer__logo{
width: 115px;
height: 41px;
}

.section {
  background-image: url(../img/filter_background.jpg);
  width: 1200px;
  height: 800px;
  background-repeat: no-repeat;
}
.intro-mask{
 align-self: flex-end;
}
/*.sedona_photo {
  background-image: url(../img/intro-welcome.svg);
  width="459"; 
  height="353";
}
*/




/*интерактив*/
.the_details{
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}
.reservation{
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.the_details a:hover,
.the_details a:focus {
  background-color: #669ec0;
} 

.reservation a:hover,
.reservation a:focus {
  background-color: #604e43;
}

.information a:hover,
.information a:focus{
color: #81b3d2;
}




.footer{
  background-color: #000000;/*на время */
}
/*Соц сети подвал*/
.social-button_tw{
 background-image: url(../img/twitter.svg);
 background-repeat: no-repeat;
}
.social-button_fb{
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
}
.social-button_yout{
  background-image: url(../img/youtube.svg);
   background-repeat: no-repeat;
}

/* сетка   */

html,
body {
  min-width: 1200px;
  min-height: 2763px;
}

.main-header{
  margin-bottom: 22px;

  /* Временно для сетки */
  min-height: 56px;

}
.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Временно для сетки */
  min-height: 56px;
  background-color: transparent;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo{

}
.intro-mask{
  
}
.reasons_div{
 padding-top: 61px;
 }
 .reasons_discription{
  padding-top: 38px;
 }

/*Заинтересовали? далее форма по заданию (сетки)*/
.quest{
  
}
  
/*.search_button{
  display: flex;
  justify-content: center;
}*/
.search{
  padding: 52px 316px 78px 316px;
}

/*padding: 138px 316px 199px 310px;*/

  
/** {
  box-sizing: border-box;
}*/

.sedona_map{
  background-image: url("img_nature.jpg");
  min-height: 594px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search{
 position: relative;
 margin: 0;
 padding: 55px 0 0;
 text-align: center
}
.search h2{
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.search p{
  margin: 0 0 48px;
  line-height: 24px
  font-size: 14px;
  font-weight: 400;
}
.search .buttun_search,.search_form label,.search_button_form input{
  font-family:"PT Sans","Arial",sans-serif;
  text-transform: uppercase;
  font-weight: 700
}
.search .button-search{
  width: 568px;
  padding: 30px 0;
  background-color: #766357;
  border:none;
  color: #ffffff;
  line-height: 26px;
  font-size:21px
}

.search_form{
  position: absolute;
  width: 568px;
  left: 50%;
  top: 100%;
  margin-left: -284px;
  padding: 55px;
  box-sizing: border-box;
  background-color:#ffffff;
 }
  .button_search {
   font-weight: 700;
   color: white;
   font-size: 21px;
   text-transform: uppercase;
   padding: 33px 139px 33px 139px;
   background-color: #766357;
   width: 568px;
   height: 86px;
  }

  /*гостиницы*/

  .hotel_assortment{
   display: flex;
  }
  .hotels_list li{
    display: flex;
  }
  
  .hotel_buttons {
    display: flex;
  }
  .hotel_price{
    display: flex;
  }
  .footer{
   display: flex;
  justify-content: space-between;
  }
 .social_networks{
  display: flex;
  justify-content: center;
 }