body {
  margin: 0 auto;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}
.site-navigation a {
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
 }
.site-navigation  {
  position: absolute;
  list-style: none;
}
.site-navigation {
display: flex;
margin: 0;
top: 0;
}

.site-navigation li{
width: 239px
}

.logo{
  position: absolute;
  width: 244px;
  text-align: center;
  z-index: 3;
  
}
.promo{  /*   */
 text-align: center;
 padding-top: 160px;
 background-image: url(../img/background_photo.jpg);
 position: relative;
 top: -23px;
 
 width: 1200px;
 min-height: 800px;
 background-repeat: no-repeat;
}

.intro-mask{
  padding-top: 19px
}

.reasons_div{
  text-align: center;
  position: absolute;
  top: 652px;
  
}

.reasons_div{
  background-color: white;
  width: 1200px;
  height: 216px;

}
.reasons_title h2 {
  font-size: 30px;
  line-height: 42px;
}
.reasons_title{
color: #000000;
font-size: 21px;
font-weight: 700;
line-height: 26px;

color: #333333;
}
.reasons_discription{
color: #333333;
font-size: 14px;
font-weight: 400;
line-height: 26px;
}

.features-list {
display: flex;
justify-content: space-between;
list-style: none;
}
.features-list li{
text-align: center;
margin: auto;
width: 400px;
min-height: 84px;
}

.features-list {
  width: 1200px;
  min-height: 256px;
  background-color: #ffffff;
}
.features-list-1 {
display: flex;
justify-content: space-between;
list-style: none;
}

.features-list-1 {
  text-align: center;
  width: 1200px;
  min-height: 256px;
  background-color: #eeeeee;
}



.cause_discription h2{
padding-top: 46px;
color: #ffffff; 
font-size: 21px;
text-align:center;
font-weight: 700;
line-height: 21px;

}
.cause_discription p{
color: #ffffff;
text-align: center;
font-weight: 400;
line-height: 21px;
}
.cause_discription{
width: 400px;
height: 256px;
background-color: #81b3d2;
}
.cause_title{
color: #000000; 
font-size: 21px;
font-weight: 700;
line-height: 21px;
}
.cause_number{
color: #000000; 
font-size: 14px;
font-weight: 400;
}
.cause_text{
color: #000000;

font-weight: 400;
line-height: 21px;
}
 
.cause_icon_home{
  background-image: url(../img/icon-1.svg);
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
}
.cause_icon_food{
  background-image: url(../img/icon-2.svg);
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
}
.cause_icon_souvenirs{
  background-image: url(../img/icon-3.svg);
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
}

.search,
.button_search{
 text-align: center;  
}
.button_search{
color: #ffffff;
text-align: center;
font-size: 21px;
font-weight: 700;
line-height: 26px;
width: 568px;
height: 86px;
background-color: #766357;
text-transform: uppercase;
white-space: nowrap;
padding: 35px 139px 33px 140px;
   }

.search-submit{
  width: 458px;
  height: 58px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.search-submit a:hover,
.search-submit a:focus; {
  background-color: #669ec0;
}
.search-submit a:active;{
  background-color: #5496bd;
}
.hotel_checked{
  list-style: none;
}
.headline_legend{
color: #ffffff;
font-size: 16px;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
}

.hotel_label{
color: #ffffff;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}

.hotel_assortment li{
list-style: none;
color: #000000;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;
}

.hotels_list a{
 text-decoration: none;
}
.hotels_list li{
  list-style: none;
}
.hotel_title{
height: 16px;
color: #000000;
font-size: 21px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
}
.hotel_price{
height: 11px;
color: #333333;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}
.hotel_rating{
color: #666666;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
}
.hotel_buttons{

font-size: 14px;
font-weight: 700;
line-height: 21px;
}


/* подвал */
.footer_container {
  display: flex;
  justify-content: space-between;
}
.hashtag {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}
.hashtag{
color: #000000;
font-size: 21px;
font-weight: 700;
line-height: 26px;

}
.hashtag a{
text-decoration: none;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  
  background-color: #81b3d2;
}


.footer{
 
  width: 1200px;
  height: 120px;
  /*display:block;
  margin: 0 auto;*/

  background-color: #ffffff;
  background-position: top center;
  opacity: 0.9;
}
.footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: auto;
  top: 3200px;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  }
  
.footer-social a{
 text-decoration: none;
}

.developer__logo{
width: 115px;
height: 41px;
}

.section {
  background-image: url(../img/filter_background.jpg);
  width: 1200px;
  height: 800px;
  background-repeat: no-repeat;
}
.intro-mask{
 align-self: flex-end;
}
/*.sedona_photo {
  background-image: url(../img/intro-welcome.svg);
  width="459"; 
  height="353";
}
*/

.hotel_4{
  width: 1200px;
  min-height: 50px;
  margin: auto;
}


.hotel_selection{
  text-align: center;
}
.all_hotel{
  width: 1200px;
  min-height: 540px;
  margin: auto;
}

.the_details{
  color: #ffffff;
  f
  font-weight: 700;
  line-height: 21px;
  
  background-color: #81b3d2;
  width: 110px;
  min-height: 27px;
}

.reservation{
color: #ffffff;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
  
  background-color: #766357;
  width: 142px;
  height: 27px;
}
.hotel_buttons{
  padding-left: 10px;
  padding-top: 35px
}
.hotel_rating{
  margin: auto;
  width: 110px;
  min-height: 27px;
  text-align: center;
background-color: #f2f2f2;
}



.the_details a:hover,
.the_details a:focus {
  background-color: #669ec0;
} 

.reservation a:hover,
.reservation a:focus {
  background-color: #604e43;
}

.information a:hover,
.information a:focus{
color: #81b3d2;
}



/* сетка   */

html,
body {
  min-width: 1200px;
  min-height: 2763px;
}

.main-header{
  margin-bottom: 22px;

  /* Временно для сетки */
  min-height: 56px;

}
.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Временно для сетки */
  min-height: 56px;
  background-color: transparent;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.reasons_div{
 padding-top: 61px;
 }
 .reasons_discription{
  padding-top: 38px;
 }

/*Заинтересовали? далее форма по заданию (сетки)*/
.quest{
  
}
  
/*.search_button{
  display: flex;
  justify-content: center;
}
.search{
  padding: 52px 316px 78px 316px;
}*/


/** {
  box-sizing: border-box;
}*/

.sedona_map{
  min-height: 594px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search{
 position: relative;
 margin: 0;
 padding: 55px 0 0;
 text-align: center
}
.search h2{
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.search p{
  margin: 0 0 48px;
  line-height: 24px
  font-size: 14px;
  font-weight: 400;
}
.search .buttun_search,.search_form label,.search_button_form input{
  font-family:"PT Sans","Arial",sans-serif;
  text-transform: uppercase;
  font-weight: 700
}
.search .button-search{
  width: 568px;
  padding: 30px 0;
  background-color: #766357;
  border:none;
  color: #ffffff;
  line-height: 26px;
  font-size:21px
}
.search_form{
  position: absolute;
  width: 568px;
  min-height: 395px;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
  padding: 55px;
  box-sizing: border-box;
  background-color:#ffffff;
 }

  
  /*гостиницы*/
 .hotel_assortment{
   display: flex;
   ustify-content: space-evenly;
  height: 100%;
  }
  .hotels_list li{
    display: flex;
  }
  
  
  .hotel_price{
   
  }
  .footer{
  display: flex;
  justify-content: space-between;
  }
 
 .social_networks{
  display: flex;
  justify-content: center;
 }

/*hotel*/

.section{
  display:block;
  margin: 0 auto;
}

.cause{
  display: -webkit-inline-flex;
  display: inline-flex; 
}
.privilege{
 width: 256px;
 min-height: 330px;
}

