body {
     background-color: #ffffff;
     background-position: top center;
     background-repeat: no-repeat;
     color: #000000;
     font-family: "PT Sans", "Arial", sans-serif;
     font-size: 14px;
     font-weight: 700;
     line-height: 26px;
     margin: 0 auto;
     padding: 0;
     text-transform: uppercase;
}
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}
 .wrapper-div {
     box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
     margin-left: auto;
     margin-right: auto;
     max-width: 1200px;
     position: relative;
     webkit-box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
}
 .wrapper-div-catalog {
     box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
     margin-left: auto;
     margin-right: auto;
     max-width: 1200px;
     min-height: 540px;
     position: relative;
     webkit-box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
}
 .information_index {
     color: #766357;
     padding-right: 70px;
 }
 .list_catalog a { 
     color: #766357;
     padding-left: 35px;
 }
 .information_catalog:hover {
     color: #81b3d2;
}
 .passage:hover a {
     color: #81b3d2;
}
 .location:hover a {
     color: #81b3d2;
}
 .list_of_hotels:hover a{
     color: #81b3d2;
}
 .information_catalog:active {
     color: #b8b8b8;
}
 .information_catalog {
     color: #000000;
     padding-right: 105px;
 }
 .passage:active a {
     color: #b8b8b8;
}
 .location:active a {
     color: #b8b8b8;
}
 .list_of_hotels:active a {
     color: #b8b8b8;
}
 .main-navigation {
     align-items: center;
     background-color: transparent;
     display: flex;
     flex-direction: column;
}
 .logo {
     text-align: center;
     width: 140px;
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
     z-index: 3;
}
 .site-navigation {
     list-style: none;
     width: 1200px;
}
 .site-navigation {
     display: flex;
     margin: 0;
     position: relative;
     z-index: 2;
}
 .site-navigation li {
     padding-bottom: 40px;
     padding-top: 15px;
}
 .site-navigation a {
     line-height: 26px;
     text-align: center;
     text-decoration: none;
}
 .location a {
     color: #000000;
     margin-left: 143px;
}
 .passage a {
     color: #000000;
     margin-right: 200px;
}
 .information, .information_index {
     margin-left: -33px;
}
 .list_of_hotels a{
     color: #000000;
     padding-left: 35px;
}
 .site-navigation li {
     text-align: center;
     width: 1200px;
}
 .container {
     width: 1200px;
}
 .promo {
     background: #81b3d2 url("../img/Slice_2.jpg");
     background-repeat: no-repeat;
     padding-top: 75px;
     padding-bottom: 70px;
     position: relative;
     text-align: center;
     top: -23px;
     width: 1200px;
}
 .intro-mask {
     position: absolute;
     bottom: -3px;
     left: 0;
}
 .intro-mask {
     align-self: flex-end;
}
 .reasons_div {
     background-color: white;
     padding-bottom: 37px;
     padding-top: 38px;
     text-align: center;
     width: 1200px;
}
 .reasons_title {
     color: #000000;
     font-size: 21px;
     font-weight: 700;
     line-height: 26px;
     margin: auto;
}
 .reasons_discription {
     color: #333333;
     font-size: 14px;
     font-weight: 400;
     line-height: 26px;
     padding-top: 12px;
}
 .cause_one {
     display: inline-flex;
}
 .cause_two {
     display: inline-flex;
}
 .cause_discription h2 {
     color: #ffffff;
     font-size: 21px;
     font-weight: 700;
     line-height: 21px;
     padding-top: 32px;
     padding-bottom: 6px;
     text-align: center;
}
 .cause_discription p {
     color: #ffffff;
     font-weight: 400;
     line-height: 21px;
     text-align: center;
}
 .cause_discription {
     background-color: #81b3d2;
     height: 256px;
     width: 400px;
}
 .cause_title {
     color: #000000;
     font-size: 21px;
     font-weight: 700;
     line-height: 21px;
     margin-top: 18px;
}
 .cause_number {
     color: #000000;
     font-size: 14px;
     font-weight: 400;
}
 .cause_text {
     color: #000000;
     font-weight: 400;
     line-height: 21px;
     padding-top: 5px;
}
 .cause_icon_home:before {
     background-image: url("../img/icon-1.svg");
     background-repeat: no-repeat;
     left: 126px;
     margin: auto;
     min-height: 72px;
     width: 75px;
}
 .cause_icon_food:before {
     background-image: url("../img/icon-3.svg");
     background-repeat: no-repeat;
     left: 0;
     margin: auto;
     min-height: 76px;
     right: 3px;
     width: 74px;
}
 .cause_icon_souvenirs:before {
     background-image: url("../img/icon-2.svg");
     background-repeat: no-repeat;
     margin: auto;
     min-height: 76px;
     right: 125px;
     width: 75px;

}
 .cause_icon_souvenirs {
     margin-right: 30px;
}
 .features-list {
     display: flex;
     justify-content: space-between;
     list-style: none;
}
 .features-list{
     margin-bottom: 5px
 }
 .features-list li {
     text-align: center;
}
 .features-list li:before {
     content: "";
     position: absolute;
     top: -80px;
}
 .privilege {
     margin: 134px 34px 69px;
     position: relative;
}
 .features-list-1 {
     display: flex;
     justify-content: space-around;
     list-style: none;
}
 .privilege_2 {
     margin-top: -23px;
}
 .cause_four {
     margin-left: -45px;
}
 .privilege_2 ul {
     background-color: #eeeeee;
}
 .features-list-1 li {
     padding-bottom: 50px;
     padding-top: 27px;
     text-align: center;
     width: 400px;
}
 .search, .button_search {
     text-align: center;
}
 .search {
     margin: 0;
     padding: 55px 0 2px;
     position: relative;
     text-align: center;
}
 .search h2 {
     font-size: 30px;
     font-weight: 700;
     line-height: 36px;
     margin: -23px 0 23px;
     padding: 0;
}
 .search p {
     font-weight: 400;
     line-height: 24px font-size: 14px;
     margin: 0 0 46px;
}
 .search .buttun_search {
     font-family: "PT Sans","Arial",sans-serif;
     font-weight: 700;
     text-transform: uppercase;
}
 .search_form label, .search_button_form input {
     font-family: "PT Sans","Arial",sans-serif;
     font-weight: 700;
     text-transform: uppercase;
}
 .search_data ::-webkit-input-placeholder {
     color: #000000;
     padding-left: 15px;
}
 .search .button-search {
     background-color: #766357;
     border: none;
     color: #ffffff;
     font-size: 21px;
     line-height: 26px;
     padding: 30px 0;
     width: 568px;
}
 .search_button_form {
     background-color: #ffffff;
     box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
     box-sizing: border-box;
     left: 0;
     margin: auto;
     padding: 20px;
     position: absolute;
     right: 0;
     top: 100%;
     width: 568px;
}
 .button_search {
     background-color: #766357;
     border: none;
     color: #ffffff;
     font-size: 21px;
     font-weight: 700;
     padding: 29px 139px 33px 139px;
     text-transform: uppercase;
     white-space: nowrap;
}
 .search-submit {
     background-color: #81b3d2;
     border: none;
     color: #ffffff;
     font-size: 21px;
     font-weight: 700;
     height: 58px;
     margin-bottom: 35px;
     margin-top: 55px;
     text-transform: uppercase;
     width: 458px;
}
 .sedona_map {
     min-height: 594px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top: -2px;
}
 .search_data input {
     width: 346px;
     min-height: 38px;
     background-color: #f2f2f2;
     border: none;
     margin-top: 29px;
}
 .search_data label {
     margin-right: 16px;
}
 .formline-adult-child,.formline-inputzone {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: no-wrap;
     flex-wrap: no-wrap;
     padding: 0
}
 .formline-adult-child {
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     margin-bottom: 29px;
     margin: auto;
     width: 458px; 
     height: 38px;
     margin-top: 29px
}
 .formline-adult-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start
}
 .formline-adult-child input {
    font: inherit;
    padding-left: 0;
    width: 38px;
    height: 38px;
    text-align: center
}
 .formline-adult-child .formline-inputzone {
    width: 150px
}
 .children{
     padding-left: 55px;
     margin-right: -15px;
 }
 .child{
    width: 118px;
}
 .appointment-item, .child {
    padding-top: 45px;
}
 .adult {
    width: 112px;
    padding-top: 45px;
}
 .formline-inputzone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    padding: 0
    margin-left: -15px;
}
 .formline-inputzone input:focus {
    background-color: #f2f2f2;
    outline: 2px solid #e5e5e5
}
 .formline-inputzone input {
    background-color: #f2f2f2;
}
 .formline-adult-child p {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    padding-right: 40px
}
 .formline-inputzone {
    width: 114px
}
 .minus,.plus {
    margin: 0;
    width: 38px;
    min-height: 38px;
    background-color: #f2f2f2;
    border: 0;
    color: #a9a9a9;
    font-weight: 700;
    outline: 0
}
 .plus {
    font-size: 22px
}
 .minus {
    font-size: 32px;
}
 .minus:hover,.plus:hover {
    color: #000000
}
 .minus:focus,
 .plus:focus {
    color: #81b3d2
}
 .search_button_form input {
    border: none
}
 .hotel_checked {
    list-style: none;
    margin-top: -1px;
}
 .headline_legend {
     color: #ffffff;
     font-size: 16px;
     font-weight: 700;
     line-height: 21px;
     text-transform: uppercase;
}
 .hotel_label {
     color: #ffffff;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     text-transform: uppercase;
}
 .hotel_assortment li {
     color: #000000;
     font-size: 12px;
     font-weight: 400;
     line-height: 18px;
     list-style: none;
     text-transform: uppercase;
}
 .hotels_list a {
     text-decoration: none;
}
 .hotels_list li {
     list-style: none;
}
.name_hotel {
     color: #000000;
}
 .hotel_title {
     color: #000000;
     font-size: 21px;
     font-weight: 700;
     height: 16px;
     line-height: 26px;
     text-transform: uppercase;
}
 .hotel_price {
     color: #333333;
     font-size: 14px;
     font-weight: 400;
     height: 11px;
     line-height: 21px;
     padding-top: 10px;
     text-transform: uppercase;
}
 .hotel_rating {
     color: #666666;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     margin-left: 524px;
     text-transform: uppercase;
}
 .hotel_buttons {
     font-size: 14px;
     font-weight: 700;
     line-height: 21px;
     margin-top: -8px;
}
 .rating-star {
     display: inline-block;
     min-height: 17px;
     background-image: url("../img/star.svg");
     background-repeat: space;
     vertical-align: top;
}
 .rating-star {
     margin-left: 20px
 }
 .star-4 {
     width: 89px;
     margin-top: 5px;
}
 .star-3 {
     width: 65px
     
}
 .star-3 {
     margin-left: 45px;
     margin-top: 6px;
}
 .star-2 {
     width: 41px
     margin-left: 70px;
}
 .star-2 {
     margin-left: 67px;
     margin-top: 6px;
}
 .footer {
     background-color: #ffffff;
     background-position: top center;
     min-height: 121px;
     opacity: 0.9;
     width: 1200px;
}
 .footer {
     left: 0;
     right: 0;
     margin: auto;
     top: 2645px;
     position: absolute;
}
 .vebsite_icon {
     font-size: 14px;
     font-weight: 400;
     line-height: 26px;
     position: absolute;
     right: 225px;
     top: 45px;
}
 .footer {
     display: flex;
     justify-content: space-around;
}
 .footer-social ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     list-style: none;
     margin: 0 auto;
     padding: 0;
     width: 159px;
}
 .footer-social a {
     text-decoration: none;
     padding-top: 2px;
}
 .hashtag {
     font-size: 21px;
     font-weight: 700;
     line-height: 26px;
     margin-top: 45px;
     margin-left: 8px;
}
 .hashtag a {
     color: #000000;
     text-decoration: none;
}
 .social-button {
     align-items: center;
     background-color: #81b3d2;
     display: flex;
     min-height: 45px;
     width: 46px;
     justify-content: center;
}
 .footer-social ul {
     margin-top: 36px;
     margin-right: 57px;
}
 .footer_icon {
     margin-top: 40px;
}
 .submit_show {
     position: absolute;
     right: 170px;
     top: 150px;
}
 .field-form_slider {
     padding-left: 290px;
}
 .hotel_rating span {
     direction: column;
     display: flex;
}
 .rating {
     background-color: #f2f2f2;
     margin-top: 46px;
     padding: 4px 14px 4px 14px;
}
 .hotel_checked label {
     color: #ffffff;
     font-family: "PT Sans", "Arial", sans-serif;
     font-size: 14px;
     font-weight: 400;
     height: 12px;
     line-height: 21px;
     text-transform: uppercase;
     width: 77px;
}
 .headline_legend {
     padding-left: 60px;
     padding-top: 26px;
}
 .hotel_checked li {
     padding-top: 15px;
     padding-left: 20px;
}
 .hotel_assortment {
     display: flex;
     margin-right: 490px;
}
 .received {
     color: #000000;
     font-size: 21px;
     font-weight: 700;
     line-height: 26px;
     margin-left: 72px;
     margin-top: -15px;
}
 .hotel_sorting {
     padding-right: 40px;
}
 .hotel_by_price a {
     opacity: 0.4;
     padding-right: 33px;
     text-decoration: none;
}
 .hotel_type a {
     opacity: 0.4;
     padding-right: 33px;
     text-decoration: none;
}
 .hotel_by_rating a{
     opacity: 0.4;
     text-decoration: none;
}
 .hotel_type u {
     border-bottom: 1px dotted #81b3d2;
     text-decoration: none;
}
 .hotel_by_rating u {
     border-bottom: 1px dotted #81b3d2;
     text-decoration: none;
}
 .hotel_selection {
     border-bottom: 1px solid #e5e5e5;
     margin: auto;
}
 .hotel_scroll {
     display: flex;
     justify-content: space-between;
}
 .arrow {
     font-size: 0;
     margin: 0 4px;
}
 .arrow_up_down {
     margin-right: 70px;
}
 .arrow::before {
     border: 10px solid #cacaca;
     border-left-color: transparent;
     border-left-width: 6px;
     border-right-color: transparent;
     border-right-width: 6px;
     content: "";
     display: inline-block;
     vertical-align: top;
}
 .arrow-up::before {
     border-top-width: 0;
}
 .arrow-down::before {
     border-bottom-width: 0;
}
 .hotels_list li {
     display: flex;
}
 .section {
     display: block;
}
 .developer__logo {
     height: 41px;
     margin-top: -2px;
     margin-right: -24px;
     width: 115px;
}
 .section {
     background: #81b3d2 url("../img/Slice_1.jpg");
     background-repeat: no-repeat;
     min-height: 217px;
     position: relative;
     top: -24px;
     width: 1200px;
}
 .headline_legend {
     padding-left: 60px;
     padding-right: 30px;
}
 .field-form_slider {
     margin-left: 37px;
}
 .filter-range {
     color: #ffffff;
     margin-top: 21px;
     margin-left: 9px;
     text-transform: uppercase;
     width: 320px;
}
 .filter-range-title {
     font-size: 16px;
     font-weight: 600;
     line-height: 21px;
     margin-bottom: 12px;
}
 .price-controls {
     border: 2px solid #ffffff;
     border-radius: 2px;
     font-size: 0;
     height: 30px;
     margin-bottom: 21px;
     position: relative;
}
 .price-controls::after {
     background: #ffffff;
     content: "";
     height: 22px;
     left: 50%;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 2px;
}
 .price-controls label {
     cursor: pointer;
     display: inline-block;
     font-size: 14px;
     line-height: 38px;
     vertical-align: top;
}
 .price-controls .min-price{
     padding-left: 64px;
     width: 90px;
}
.price-controls .max-price {
     padding-left: 56px;
     width: 90px;
}
 .price-controls input {
     background: none;
     border: none;
     color: inherit;
     font: inherit;
     width: 50px;
}
 .range-controls {
     margin-bottom: 32px;
     position: relative;
}
 .range-controls .scale {
     background: rgba(255, 255, 255, 0.3);
     height: 2px;
}
 .range-controls .bar {
     background: #ffffff;
     height: 2px;
     width: 80%;
}
 .range-toggle {
     background: #ababab;
     border: 8px solid #ffffff;
     border-radius: 50%;
     box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
     cursor: pointer;
     height: 4px;
     position: absolute;
     top: -9px;
     width: 4px;
}
 .range-toggle:hover {
     background: #1c4f80;
}
 .range-toggle-min {
     left: 0;
}
 .range-toggle-max {
     left: 80%;
}
 .btn-transparent {
     background: transparent;
     border: 2px solid #ffffff;
     border-radius: 2px;
     color: #ffffff;
     cursor: pointer;
     display: block;
     font-size: 14px;
     line-height: 20px;
     margin: 0 auto;
     margin-right: 96px;
     padding: 6px 35px;
     text-transform: uppercase;
}
 .btn-transparent:hover {
     background: #ffffff;
     color: #000000;
}
 .hotel_title {
     padding-left: 29px;
}
 .all_hotel {
     margin: auto;
     margin-top: -17px;
     min-height: 540px;
     width: 1200px;
}
 .category_motel {
     padding-right: 64px;
}
 .category_hotel {
     padding-right: 39px;
}
 .category_apartment {
     padding-right: 21px;
}
 .hotel_img_wrapper {
     margin-top: 9px;
     margin-left: -2px;
}
 .hotel_item {
     border-bottom: 1px solid #e5e5e5;
     margin-bottom: -23px;
     margin-top: 45px;
     padding-bottom: 20px;
     padding-left: 35px;
}
 .the_details {
     background-color: #81b3d2;
     color: #ffffff;
     font-weight: 700;
     line-height: 21px;
     margin-right: 3px;
     padding: 5px 17px 5px 17px;
}
 .reservation {
     background-color: #766357;
     color: #ffffff;
     font-weight: 700;
     line-height: 21px;
     padding: 5px 16px 5px 16px;
     text-transform: uppercase;
}
 .hotel_buttons {
     padding-left: 0;
     padding-top: 35px;
}
 .hotel_price {
     display: flex;
}
 .form_choice fieldset {   
     border-style: none;
}
 .field-form {
     display: flex;
}
 .hotel_label input {
     display: none;
}
 .hotel_label  span {
     border: 2px solid white;
     border-radius: 4px;
     display: inline-block;
     margin-right: 15px;
     margin-top: 7px;
     min-height: 20px;
     position: relative;
     vertical-align: middle;
     width: 20px;
}
 [type=checkbox]:checked + span:before {
     content: "";
     font-size: 28px;
     font-weight: bold;
     left: 3px;
     position: absolute;
     top: -2px;
     vertical-align: middle;
}
 .hotel_label input[type="checkbox"]:checked + span {
     
     background: url("../img/checkmark.svg") no-repeat;
     background-position: -3px -3px ;
}
 .footer_catalog {
     background-color: #ffffff;
     background-position: top center;
     min-height: 121px;
     opacity: 0.9;
     width: 1200px;
}
 .footer_catalog {
     box-sizing: border-box;
     left: 0;
     margin: auto;
     position: absolute;
     right: 0;
     top: 816px;
}
 .footer_catalog {
     display: flex;
     justify-content: space-around;
}
 .social-button:hover, .social-button:focus {
     background-color: #669ec0;
}
 .social-button:active path, .social-button:focus path {
     background-color: #5496bd;
     fill: #87b5d1;
}
 .search-submit:hover {
     background-color: #669ec0;
}
 .search-submit:active {
     background-color: #5496bd;
     color: #87b5d1;
}
 .button_search:hover {
     background-color: #604e43;
}
 .button_search:active {
     background-color: #503e33;
     color: #847870;
}
 .search_data input:focus {
     background-color: #ffffff;
     outline: 2px solid #e5e5e5;
}
 .developer:hover path {
     fill: #81b3d2;
}
 .developer:active path {
     fill: #bdbbbc;
}
 .search_data:hover input, .search_data:focus input {
     background-color: #ebebeb;
}
 .name_hotel:hover {
     color: #81b3d2;
}
 .name_hotel:active {
     color: #b2b2b2;
}
 .the_details:hover {
     background-color: #669ec0;
}
 .the_details:active {
     background-color: #5496bd;
     color: #87b5d1;
}
 .reservation:hover {
     background-color: #604e43;
}
 .reservation:active {
     background-color: #503e33;
     color: #847870;
}
 .hotel_type:hover u {
     border-color: #81b3d2;
     color: #81b3d2;
}
 .hotel_type:active u {
     border: none;
     color: #000000;
}
 .hotel_by_rating:active u {
     border: none;
     color: #000000;
}
 .hotel_by_rating:hover u {
     border-color: #81b3d2;
     color: #81b3d2;
}
 .hotel_assortment u {
     cursor: pointer;
}
 .search_form {
     display: none;
}
 .calendar,.calendar2 {
     background-color: #f2f2f2;
     border: 0;
     height: 38px;
     outline: 0;
     position: absolute;
     right: 55px;
     width: 38px;
}
 .calendar path, .calendar2 path {
     fill: #cacaca; 
}
.calendar,.calendar2 {
     top: 120px;
}
 .calendar {
     top: 50px;
}
 .calendar:hover, .calendar2:hover {
     background-color:  #ebebeb;
}
 .calendar2 path:hover ,.calendar path:hover {
     fill: #000000;
}
 .calendar2 svg:hover ,.calendar svg:hover {
     fill: #000000;
}